[Desktop Entry]
Version=1.0
Name=Granatum
Comment=Starts Granatum server. Close the window to stop the server
Exec=bash -c 'cd /home/granatum/granatum/; xterm -e "Rscript /home/granatum/granatum/shiny.R"'
Icon=/home/granatum/granatum/vb/granatum_icon.png
Terminal=false
Type=Application
Categories=Application;
Name[en_US]=Granatum
